<footer>
  <div class="container-fluid">
    <div class="group-of-links">
      <!-- These links will change -->
      <a href="{{ctrl.contactUs}}" target="_blank">Kontakt</a> |
      <a href="{{ctrl.aboutUs}}" target="_blank">Om oss</a> |
      <a href="{{ctrl.howItWorks}}" target="_blank">Slik virker det</a>
    </div>
    <span class="disclaimer">
            FundingPartner AS er registrert og underlagt tilsyn av Finanstilsynet i Norge. 
            Adresse: Forskningsparken, Gaustadalléen 21, 0349 Oslo, Norge

            <br />
            Copyright © FundingPartner 2017
        </span>
  </div>
</footer>
