<div class="container-fluid ">
  <div ui-view class="ng-scope">
    <div class="jumbotron jumbotron-success ng-scope">
      <div class="d-i-b">
          <span class="col-sm-12">
        <h2 class="p-b-20 f-25">

          Registreringen av din profil og verifiseringen med BankID er nå fullført.</h2></span>

        <div class="col-xs-12 col-sm-offset-3 col-sm-5">
          <button type="submit" class="btn btn-primary btn-block" ui-sref="investorSummary">Fortsett</button>
        </div>
      </div>
    </div>
  </div>
</div>


