<div class="container-fluid ">
  <div ui-view class="ng-scope">
    <div class="jumbotron jumbotron-success d-b ng-scope">
      <div class="d-i-b">
      <h2 class="f-42">Noe gikk galt med BankID.</h2>
      <p class="lead p-b-0">
      <br>
      Vennligst prøv igjen, og forsøk eventuelt Chrome eller Firefox som nettleser.
       <br>
       Om det fortsatt ikke fungerer, vennligst send en e-post til kontakt@fundingpartner.no. Vi vil undersøke og løse problemet så fort som mulig.
         </p>
        <div class="col-xs-12 col-sm-offset-4 col-sm-4">
          <button type="submit" class="btn btn-primary btn-block" ng-click="bankIdValidationFailure.bankIdValidation()" double-Click timeout="8000">Fortsett</button>
        </div>
      </div>
    </div>
  </div>
</div>