<div class="container-fluid ">
  <div class="row ng-scope">
    <div class="col-sm-12">
      <div class="panel grey-background-adjusted">
        <div class="panel-default">
          <div class="panel-heading">Glemt passord</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-10 col-lg-8">
                <form class="form-horizontal" name="forgotpasswordform" novalidate autocomplete="off">
                  <div class="form-group" ng-class="{'has-error':forgotpasswordform.password.$touched && forgotpasswordform.password.$invalid}">
                    <label class="col-sm-4 control-label" for="password">Skriv inn nytt passord</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="password" name="password" ng-model="forgotPassword.form.newPassword" ng-pattern="/^(?=.*\d)(?=.*[A-Z]).{6,20}$/" required>
                      <div ng-messages="forgotpasswordform.password.$error">
                        <span class="help-block" ng-show="forgotpasswordform.password.$touched &&  forgotpasswordform.password.$invalid" ng-message="required">Du må skrive inn ønsket passord</span>
                        <span class="help-block" ng-message="pattern" ng-if="forgotpasswordform.password.$touched &&  forgotpasswordform.password.$invalid">
                                        Passord må ha minst en stor bokstav, et tall og være mellom 6 og 20 tegn
                                    </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{'has-error':(forgotpasswordform.confirmPassword.$touched && forgotpasswordform.confirmPassword.$invalid) || (forgotPassword.form.newPassword && forgotpasswordform.confirmPassword.$touched && forgotPassword.confirmPassword!=forgotPassword.form.newPassword)}">
                    <label class="col-sm-4 control-label" for="password">Bekreft passord</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="password" name="confirmPassword" ng-model="forgotPassword.confirmPassword" required>
                      <div ng-messages="forgotpasswordform.confirmPassword.$error">
                        <span class="help-block" ng-show="forgotpasswordform.confirmPassword.$touched && forgotpasswordform.confirmPassword.$invalid" ng-message="required">Vennligst bekreft passordet ditt</span>
                        <div ng-show="forgotPassword.confirmPassword">
                          <span class="help-block" ng-show="forgotPassword.form.newPassword && forgotpasswordform.confirmPassword.$touched && forgotPassword.confirmPassword!=forgotPassword.form.newPassword">Passordene stemmer ikke overens
                                            </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-offset-4 col-sm-8">
                      <button type="submit" class="btn btn-primary btn-block" ng-click="forgotPassword.resetPassword()" ng-disabled="forgotPassword.disable()" double-Click timeout="5000">Send inn</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
