<div class="container-fluid ">
  <div class="row ng-scope">
    <div class="col-md-6 col-lg-7">
      <div class="panel grey-background-adjusted">
        <div class="panel-default">
          <div class="panel-heading">Logg inn</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-10 col-lg-8">
                <form class="form-horizontal" name="loginform" novalidate autocomplete="off" ng-submit="loginform.$valid && login.login()">
                  <div class="form-group" ng-class="{ 'has-error' : loginform.email.$touched && loginform.email.$invalid && !login.submitted}">
                    <label class="col-sm-4 control-label" for="email">E-post</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="email" name="email" ng-model="login.form.ApplicantEmail" ng-pattern="/^(([^<>()\[\]\\.,;:\s@']+(\.[^<>()\[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/" required>
                      <div ng-messages="loginform.email.$error">
                        <span class="help-block" ng-message="required" ng-if="loginform.email.$touched && !login.submitted">
                                                        E-postadressen din er påkrevd
                                                    </span>
                        <span class="help-block" ng-message="pattern" ng-if="loginform.email.$touched && loginform.email.$invalid">
                                                        E-postadressen må være gyldig
                                                    </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error' : loginform.password.$touched && loginform.password.$invalid && !login.submitted }">
                    <label class="col-sm-4 control-label" for="password">Passord</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="password" name="password" ng-model="login.form.ApplicantPassword" required>
                      <div ng-messages="loginform.password.$error">
                        <span class="help-block" ng-message="required" ng-if="loginform.password.$touched && !login.submitted">
                                                        Du må skrive inn ønsket passord
                                                    </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-offset-4 col-sm-8">
                      <button type="submit" class="btn btn-primary btn-block" ng-click="login.login()" ng-disabled="login.disableLogin()" double-Click timeout="5000">Logg inn</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-offset-4 col-sm-8">
                      <a href="#" ng-click="login.forgotPasswordMailSend()" double-Click timeout="5000">Glemt passord? (Klikk her)</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-5">
      <div class="panel grey-background-adjusted">
        <div class="panel-default">
          <div class="panel-heading">Registrer deg nå</div>
          <ul class="list-unstyled">
            <li class="color-grey m-l-15"><span class="fa fa-check"></span> Oppnå 5-20%* avkastning på sparepengene dine.</li>
            <li class="color-grey m-l-15"><span class="fa fa-check"></span> Motta renter og avdrag hver måned.</li>
            <li class="color-grey m-l-15"><span class="fa fa-check"></span> Gi norske selskaper mulighet til å vokse.</li>
          </ul>
          <h6 class="color-grey m-l-15">*Faktisk avkastning kan variere, ettersom å investere via FundingPartner innebærer risiko.</h6>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
