<div class="container-fluid ">
  <div ui-view class="ng-scope">
    <div class="jumbotron jumbotron-success ng-scope">
      <div class="d-i-b">
      <span class="col-sm-12">
        <h2 class="p-b-20 f-25">
           Din kundesjekk ved første investering var vellykket.<br>
            Du kan nå fortsette å investere.</h2></span>
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
          <button type="submit" class="btn btn-primary btn-block" ng-click="signereKYCCheck.goBack()">Fortsett</button>

        </div>
      </div>
    </div>
  </div>
</div>
